:root {
  --main-color: #fff;
  --main-second-color: #f5f4fa;
  --hero-footer-color: #2f303a;
  --accent-color: #2196f3;
  --text-main: #212121;
  --text-second: #757575;
  --galery-border: #eee;
  --icons-color: #afb1b8;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-main);
  background-color: var(--main-color);
}

li {
  list-style: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--dark {
  color: #000000;
}

.logo__footer {
  padding: 0;
  margin-bottom: 20px;
}

.logo--light {
  color: var(--main-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.section__otherbackground {
  background-color: var(--main-second-color);
}

.section__nopaddingtop {
  padding-top: 0;
  padding-bottom: 0;
}

.sitenav__current {
  position: relative;
  color: var(--accent-color);
}

.sitenav__current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  background-color: var(--accent-color);
  bottom: -34px;
  border-radius: 4px;
}

.mobnav__current {
  color: var(--accent-color);
}

.accent-text {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: color;
}

.accent-text:hover,
.accent-text:focus {
  color: var(--accent-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms;
}

.form__field {
  margin-bottom: 20px;
}

.modal {
  width: 90vw;
  max-width: 450px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal .modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-main);
  display: block;
  margin-bottom: 12px;
}

.modal .modal__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: outline-color;
}

.modal .modal__label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--text-second);
  margin-bottom: 4px;
}

.modal .modal__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: outline-color;
}

.modal .modal__comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.01em;
}

.modal .modal__label {
  position: relative;
}

.modal .modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: fill;
}

.modal__comment:focus, .modal__input:focus,
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.modal .modal__submit {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  transition-property: background-color;
}

.modal .modal__submit:hover, .modal .modal__submit:focus {
  background-color: #188ce8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    min-height: 610px;
  }
  .checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 1200px) {
  .modal {
    min-height: 580px;
    max-width: 530px;
  }
  .checkbox {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.01em;
  }
}

.button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  border-radius: 4px;
  border: none;
}

.button-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-close .close__icon {
  fill: var(--text-main);
  width: 11px;
  height: 11px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: transform, fill;
}

.button-close:hover .close__icon,
.button-close:focus .close__icon {
  fill: var(--accent-color);
  transform: rotate(180deg) scale(1.3);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox .checkbox__icon {
  border: 2px solid var(--text-main);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: background-color, fill, border;
}

.checkbox .checkbox__input:checked + .checkbox__icon {
  fill: var(--main-color);
  background-color: var(--accent-color);
  border: none;
}

.checkbox .checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.contact {
  display: none;
}

.header__navigation {
  display: none;
}

.contact__item:hover .contact__icons,
.contact__text:focus .contact__icons {
  fill: var(--accent-color);
}

.contact__icons {
  margin-right: 10px;
  fill: var(--text-second);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: fill;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header .header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }
  .header .header__navigation {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 93px;
  }
  .sitenav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    display: flex;
  }
  .sitenav .sitenav__item + .sitenav__item {
    margin-left: 50px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    color: var(--text-second);
  }
  .contact .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .header .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ececec;
  }
  .header .header__navigation {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 93px;
  }
  .sitenav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    display: flex;
  }
  .sitenav .sitenav__item + .sitenav__item {
    margin-left: 50px;
  }
  .contact {
    align-items: center;
    margin-left: 270px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    color: var(--text-second);
  }
  .contact {
    display: flex;
    flex-direction: row;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .contact__item + .contact__item {
    margin-left: 50px;
  }
}

.hero {
  padding: 118px 60px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .hero__title {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.hero__btn {
  min-width: 136px;
  padding: 10px 32px;
  transition-property: background-color;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding: 118px 204px;
  }
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantage__iconsbox {
  background-color: var(--main-second-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-second);
  margin-top: 10px;
  margin-bottom: 30px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
  .avantage__iconsbox {
    display: flex;
  }
  .advantage__icon {
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .advantage__item {
    margin-left: 30px;
  }
  .advantage {
    display: flex;
    flex-wrap: wrap;
  }
  .advantage__item {
    width: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .advantage__item {
    margin-left: 30px;
  }
  .advantage {
    display: flex;
    justify-content: center;
  }
}

.doing {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .section__otherbackground {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section__otherbackground {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .doing {
    display: flex;
    justify-content: center;
  }
  .doing .doing__item + .doing__item {
    margin-left: 30px;
  }
  .doing .doing__box {
    position: relative;
  }
  .doing .doing__textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
  .doing .doing__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14286;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
  }
}

.team .team__item {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team .team__text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-second);
  margin-bottom: 16px;
}

.team .team__member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section__otherbackground {
  padding-top: 60px;
  padding-bottom: 60px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials .socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  fill: var(--icons-color);
  transition-property: background-color, fill;
}

.socials .socials__link:hover, .socials .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-color);
}

.socials .socials__item + .socials__item {
  margin-left: 10px;
}

.socials .socials__icons {
  width: 20px;
  height: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__img {
    margin-left: auto;
    margin-right: auto;
  }
  .team__item {
    width: calc(100% / 2 - 30px);
  }
  .team__item:nth-child(2n + 2) {
    margin-left: 30px;
  }
  .team__item:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .team {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team__item + .team__item {
    margin-left: 30px;
  }
}

.clients .clients__icons {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: fill;
}

.clients .clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: border-color;
}

.clients .clients__link:hover, .clients .clients__link:focus,
.clients .clients__link:hover .clients__icons,
.clients .clients__link:focus .clients__icons {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

@media (min-width: 320px) and (max-width: 767px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__item {
    width: calc(100% / 2 - 30px);
  }
  .clients__item:nth-child(n + 3) {
    margin-top: 30px;
  }
  .clients__item:nth-child(2n + 2) {
    margin-left: 30px;
  }
  .clients__link {
    height: 92px;
    padding: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  .clients__item:nth-child(n + 4) {
    margin-top: 30px;
  }
  .clients__item:nth-child(3n + 1) {
    margin-left: 0px;
  }
  .clients__link {
    height: 92px;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: center;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
  .clients__link {
    height: 92px;
    padding: 16px 32px;
  }
}

.footer {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.address {
  font-style: normal;
  display: contents;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address .address__item + .address__item {
  margin-top: 9px;
}

.address .address__map {
  color: var(--main-color);
}

.address .address__map:hover,
.address .address__map:focus {
  color: var(--accent-color);
}

.footer-socials {
  display: flex;
}

.footer-socials .footer-socials__link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: background-color, border-radius;
}

.footer-socials .footer-socials__link:hover, .footer-socials .footer-socials__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-socials .footer-socials__item + .footer-socials__item {
  margin-left: 10px;
}

.footer-socials .footer-socials__icons {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.subscribe .subscribe__form {
  margin-top: 20px;
}

.subscribe .subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}

.subscribe .subscribe__icon {
  fill: var(--main-color);
  margin-left: 10px;
}

.subscribe .subscribe__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  transition-property: background-color;
}

.subscribe .subscribe__btn:focus, .subscribe .subscribe__btn:hover {
  background-color: #188ce8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .addressbox__contacts {
    text-align: center;
  }
  .address {
    margin-top: 20px;
    text-align: center;
  }
  .footer-social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .footer-socials {
    margin-top: 20px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .subscribe__field {
    margin-top: 20px;
  }
  .subscribe__input {
    min-width: 95vw;
  }
  .subscribe__btn {
    margin-top: 20px;
  }
  .subscribe__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .addressbox__contacts {
    text-align: center;
  }
  .footer-social-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .subscribe__btn {
    margin-top: 20px;
  }
  .subscribe__input {
    min-width: 95vw;
  }
  .subscribe__field {
    margin-top: 20px;
  }
  .footer-socials {
    margin-top: 20px;
  }
  .address__container {
    display: flex;
    justify-content: space-around;
  }
  .subscribe__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .subscribe {
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .addressbox {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  .address__container {
    display: flex;
    align-items: baseline;
    flex-grow: 0.5;
  }
  .address__container .addressbox__contacts {
    flex-grow: 0.5;
  }
  .subscribe__form {
    text-align: center;
    display: flex;
    align-items: center;
  }
  .subscribe__input {
    min-width: 358px;
  }
  .subscribe__btn {
    margin-left: 12px;
  }
  .footer-socials {
    margin-top: 20px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filters .filters__item + .filters__item {
  margin-left: 8px;
}

.filters .filters__btn {
  margin-bottom: 15px;
  background: var(--main-second-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 73px;
  border: none;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: background, color, box-shadow;
}

.filters .filters__btn:focus, .filters .filters__btn:hover {
  background: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .filters {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.projects .projects__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .projects__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-second);
}

.projects .projects__items {
  background: var(--main-color);
  box-sizing: border-box;
  position: relative;
}

.projects .projects__link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: box-shadow;
}

.projects .projects__link:hover, .projects .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .projects__link:hover .description__text,
.projects .projects__link:focus .description__text {
  transform: translateY(0);
}

.description {
  position: relative;
  overflow: hidden;
}

.description .description__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: transform;
}

.border {
  border-width: 0 1px 1px 1px;
  border-color: var(--galery-border);
  border-style: solid;
  padding: 20px 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .projects__items:not(:last-child) {
    margin-bottom: 30px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .projects__items:not(:last-child) {
    margin-bottom: 30px;
  }
  .projects__items:nth-child(even) {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .projects__items:nth-child(n + 4) {
    margin-top: 30px;
  }
  .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects__items {
    margin-left: 30px;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 10px 15px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu .mob-menu__top {
  flex-grow: 1;
}

.mob-close-menu__btn {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-property: fill;
}

.mob-close-menu__btn:hover,
.mob-close-menu__btn:focus {
  fill: var(--accent-color);
}

.sitenav-mob__item:not(:last-child),
.contact-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav-mob__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.contact-mob__text {
  font-size: 34px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact-mail__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: var(--text-second);
}

.mob-open-menu__btn {
  position: absolute;
  background-color: inherit;
  border: none;
  padding: 0;
  display: block;
  right: 22px;
  top: 30px;
}

.mob-open-menu__btn .mob-open-menu-icon {
  width: 24px;
  height: 16px;
}

.mob-open-menu-icon:hover,
.mob-open-menu__btn:focus {
  fill: var(--accent-color);
}

.mob-close-menu__btn {
  background-color: inherit;
  border: none;
  padding: 0;
  display: block;
  margin-left: auto;
}

.mob-close-menu__btn .mob-close-menu-icon {
  width: 40px;
  height: 40px;
}

.mob-menu-socials {
  margin-top: 64px;
}

.mob-menu-socials__link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22222;
  letter-spacing: 0.02em;
}

.mob-menu-socials__item {
  display: inline-block;
}

.mob-menu-socials__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mob-open-menu__btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mob-open-menu__btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */