.clients {
  .clients__icons {
    width: 106px;
    height: 60px;
    fill: var(--icons-color);
    @include animate();
    transition-property: fill;
  }
  .clients__link {
    @include flex();
    color: var(--icon-color);
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    @include animate();
    transition-property: border-color;
    &:hover,
    &:focus,
    &:hover .clients__icons,
    &:focus .clients__icons {
      border-color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__item {
    width: calc(100% / 2 - 30px);
  }

  .clients__item:nth-child(n + 3) {
    margin-top: 30px;
  }
  .clients__item:nth-child(2n + 2) {
    margin-left: 30px;
  }
  .clients__link {
    height: 92px;
    padding: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  .clients__item:nth-child(n + 4) {
    margin-top: 30px;
  }
  .clients__item:nth-child(3n + 1) {
    margin-left: 0px;
  }
  .clients__link {
    height: 92px;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .clients {
    @include flex(flex, center, null);
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
  .clients__link {
    height: 92px;
    padding: 16px 32px;
  }
}
