.filters {
  @include flex(flex, null, null);
  flex-wrap: wrap;
  margin-bottom: 40px;
  .filters__item + .filters__item {
    margin-left: 8px;
  }
  .filters__btn {
    margin-bottom: 15px;
    background: var(--main-second-color);
    border-radius: 4px;
    font-family: inherit;
    @include font(16px, 500, 30px, 0.06em, null);
    min-width: 73px;
    border: none;
    padding: 6px 22px;
    @include animate();
    transition-property: background, color, box-shadow;
    &:focus,
    &:hover {
      background: var(--accent-color);
      color: var(--main-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .filters {
    @include flex(flex, center, null);
    margin-bottom: 14px;
  }
}

@media (min-width: 1200px) {
  .filters {
    @include flex(flex, center, null);
    margin-bottom: 34px;
  }
}
