.footer {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .footer__text {
    @include font(14px, 700, 16px, 0.03em, uppercase);
    color: var(--main-color);
  }
}

.address {
  font-style: normal;
  display: contents;
  @include font(14px, null, 24px, 0.03em, null);
  color: rgba(255, 255, 255, 0.6);

  .address__item + .address__item {
    margin-top: 9px;
  }
  .address__map {
    color: var(--main-color);
  }
  .address__map:hover,
  .address__map:focus {
    color: var(--accent-color);
  }
}

// .footer-social-box {
//   margin-left: 70px;
// }

.footer-socials {
  // margin-top: 20px;
  @include flex(flex, null, null);
  .footer-socials__link {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    @include flex();
    @include animate();
    transition-property: background-color, border-radius;
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      border-radius: 50%;
    }
  }
  .footer-socials__item + .footer-socials__item {
    margin-left: 10px;
  }
  .footer-socials__icons {
    width: 20px;
    height: 20px;
    fill: var(--main-color);
  }
}

.subscribe {
  // margin-left: 93px;
  .subscribe__form {
    // display: flex;
    margin-top: 20px;
  }
  .subscribe__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    // min-width: 90vw;
  }
  .subscribe__icon {
    fill: var(--main-color);
    margin-left: 10px;
  }
  .subscribe__btn {
    @include flex(flex, null, center);
    padding: 10px 28px;
    // margin-left: 12px;
    transition-property: background-color;
    &:focus,
    &:hover {
      background-color: #188ce8;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .addressbox__contacts {
    text-align: center;
  }
  .address {
    margin-top: 20px;
    text-align: center;
  }
  .footer-social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .footer-socials {
    margin-top: 20px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .subscribe__field {
    margin-top: 20px;
  }
  .subscribe__input {
    min-width: 95vw;
  }
  .subscribe__btn {
    margin-top: 20px;
  }
  .subscribe__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .addressbox__contacts {
    text-align: center;
  }
  .footer-social-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .subscribe__btn {
    margin-top: 20px;
  }
  .subscribe__input {
    min-width: 95vw;
  }
  .subscribe__field {
    margin-top: 20px;
  }

  .footer-socials {
    margin-top: 20px;
  }
  .address__container {
    display: flex;
    justify-content: space-around;
  }
  .subscribe__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .subscribe {
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .addressbox {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  .address__container {
    display: flex;
    align-items: baseline;
    flex-grow: 0.5;
    .addressbox__contacts {
      flex-grow: 0.5;
    }
  }
  .subscribe__form {
    text-align: center;
    display: flex;
    align-items: center;
  }
  .subscribe__input {
    min-width: 358px;
  }
  .subscribe__btn {
    margin-left: 12px;
  }
  .footer-socials {
    margin-top: 20px;
  }
}
