:root {
  --main-color: #fff;
  --main-second-color: #f5f4fa;
  --hero-footer-color: #2f303a;
  --accent-color: #2196f3;
  --text-main: #212121;
  --text-second: #757575;
  --galery-border: #eee;
  --icons-color: #afb1b8;
}
